body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
}

/* Header */
.header {
    display: grid;
    overflow: hidden;
}

/* Header: navbar */

/* Navbar big screen */

.big-screen {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.big-screen .logo {
    background-color: antiquewhite;
    grid-column: 2;
    text-align: center;
    vertical-align: middle;
}

.big-screen ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, minmax(min-content, max-content));
    justify-content: end;
    margin: 0;
    grid-column-gap: 0.5em;
    grid-column: 3/9;
    align-content: center;
}

.big-screen ul li {
    text-align: center;
    padding: 1rem;
}

/* Navbar small screen */

.small-screen {
    display: none;
}

.small-screen .topnav {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.small-screen .logo {
    background-color: antiquewhite; /* TA BORT NÄR LOGGAN ÄR INLAGD */
    grid-column: 2/4;      /* ÄNDRA KOLONNERNA FÖR SMALL SCREEN NÄR EN BILD LÄGGS IN */
    text-align: center;
    vertical-align: middle;
}

.icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 8;
}

.icon a {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    color: black;
    transition: 10ms;
}

.icon a:active {
    color: dimgray;
}

.icon i {
    font-size: 139%;
}

.small-screen .smallMenu {
    position: relative;
    padding: 0;
}

.small-screen #dropdownMenu {
    position: absolute;
    width: 100%;
    display: none;
    grid-template-columns: repeat(9, 1fr);
    padding: 0;
}

.small-screen #dropdown {
    grid-column: 2/9;
    display: grid;
    grid-template-rows: repeat(6, minmax(min-content, max-content));
    padding: 1rem;
    list-style: none;
    background-color: white;
    border-top: #9DC183 3px solid;
    border-radius: 0px 0px 2px 2px;
    margin: 0;
    grid-row-gap: 5px;
}

/* Navbar for all scenarios */

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: 0.2s;
}

nav ul li a:hover {
    color: #4d4d4d;
}

/* Navbar shift between big and small screen */

@media screen and (max-width: 67.5em) {
    .big-screen {
        display: none;
    }
    .small-screen {
        display: grid;
    }
}

/* Header: slideshow in index.html */

.slide {
    text-align: center;
    display: grid;
    grid-template-rows: 2em 15vw 6em;
    grid-row-gap: 3vw;
    grid-template-columns: repeat(9, 1fr);
    color: white;
    transition: 1s;
}

.slide2, .slide3, .slide4, .slide5 {
    display: none;
}

.slide1 {
    background: url(../images/nature1.jpg) fixed center;
    background-size: cover;
}

.slide2 {
    background: url(../images/nature2.jpg) fixed center;
    background-size: cover;
}

.slide3 {
    background: url(../images/nature3.jpg) fixed center;
    background-size: cover;
}

.slide4 {
    background: url(../images/nature4.jpg) fixed center;
    background-size: cover;
}

.slide5 {
    background: url(../images/nature5.jpg) fixed center;
    background-size: cover;
}

.slide h1 {
    font-size: 3.5vw;
}

.slide-row1 {
    grid-row: 2;
    grid-column: 2/9;
}

.slide-row1 p {
    font-size: 2vw;
}

.slide-row1 button {
    background: none;
    border: white solid;
    border-radius: 4px;
    padding: 0.8em 2em;
    font-size: 1em;
    color: white;
}

.slide-row1 button:hover {
    cursor: pointer;
}

.slide-row2 {
    grid-row: 4;
    grid-column: 2/9;
    cursor: default;
}

.slide-row2 p {
    display: inline;
    font-size: 2em;
    opacity: 0.6;
}

.slide-row2 p:hover {
    cursor: pointer;
}

.slide-row2 .active {
    opacity: 1;
}

.leftArrow {
    grid-column: 1;
    grid-row: 1/5;
    text-align: center;
    display: grid;
    cursor: pointer;
}

.leftArrow:hover {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
}

.leftArrow p {
    align-self: center;
    font-size: 6em;
    font-family: 'Cormorant Garamond', serif;
    margin-left: -200px;
    transition: 0.15s;
}

.leftArrow:hover p {
    margin-left: 0;
}

.rightArrow {
    grid-column: 9;
    grid-row: 1/5;
    text-align: center;
    display: grid;
    cursor: pointer;
}

.rightArrow:hover {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
}

.rightArrow p {
    align-self: center;
    font-size: 6em;
    font-family: 'Cormorant Garamond', serif;
    margin-right: -200px;
    transition: 0.15s;
}

.rightArrow:hover p {
    margin-right: 0;
}

@media screen and (max-width: 56.25em) {
    .slide {
        grid-template-rows: 2em 9.5vw 9em;
        grid-row-gap: 1.7em;
    }
    .slide h1 {
        font-size: 1.95em;
    }
    .slide-row1 p {
        font-size: 1.125em;
    }
    .leftArrow p, .rightArrow p{
        font-size: 10vw;
    }
}

@media screen and (min-width: 75em) {
    .slide h1 {
        font-size: 2.6em;
    }
    .slide-row1 p {
        font-size: 1.5em;
    }
}

/* Header: content under navbar */
.headerContent {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(minmax(min-content, max-content));
    padding: 3em 0;
}

.headerContent h2 {
    grid-column: 2/9;
}

.headerContent p {
    grid-column: 2/9;
}

/* Section */
.section {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(minmax(min-content, max-content));
    padding: 3em 0;
}

.section h2 {
    grid-column: 2/9;
}

.section p {
    grid-column: 2/9;
}

/* Footer */
.footer {
    background-color: #9DC183;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-column-gap: 5em;
}

@media screen and (max-width: 37.5em) {
    .footer {
        grid-template-columns: none;
        text-align: center;
        grid-row-gap: 1em;
    }
}